body{
  background-image:url(http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg);
  background-size:cover;
}

form{
  color:white;
  text-align:right;
  font-family:arial;
}

label{
  font-style:sans-serif;
}

.form2 {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
    border-radius: 30px;
    color: white;
    font-family: arial;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    width: 550px;
}

.new{
  text-align:center;
  color:white;
  font-style:normal;
  font-family:arial;
}

input{
  background-color:black;
  color:white;
  border-radius:12px;
  background: rgba(0,0,0,0.5);
}

div{
  margin:20px;
}

input.fname{
  margin-right:5px;
}

input.femail{
  margin-right:5px;
  margin-top:20px;
}